name: Mirror and run GitLab CI

on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Mirror + trigger CI
        uses: SvanBoxel/gitlab-mirror-and-ci-action@5c211f993d35256d96b772d995972f434b94e11a
        with:
          args: 'https://gitlab.com/ffflorian/schemastore-updater.git'
        env:
          FORCE_PUSH: true
          GITLAB_HOSTNAME: 'gitlab.com'
          GITLAB_USERNAME: 'ffflorian'
          GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
          GITLAB_PROJECT_ID: '12704184'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
